<!-- aquí vive el menú donde se encuentran las opciones de online y offline -->
<header class="row">
    <div class="col-3" ngbDropdown>
        <span ngbDropdownToggle>
      <i class="fa fa-cog"></i>
    </span>
        <div ngbDropdownMenu>
            <span class="dropdown-item">Settings</span>
            <span class="dropdown-item">Offline</span>
            <span class="dropdown-item">Online</span>
        </div>
    </div>
    <div class="col-6">
        <h1 class="messFont">
            <span id="badge" class="rounded-circle online">
      </span>Messenger
        </h1>
    </div>
    <div class="col-3">
        <p class="PE3 float-right">
            <i class="fa fa-edit"></i>
        </p>
    </div>
</header>
<!-- filtro de búsqueda de conversaciones -->
<section class="row">
    <span>
  </span>
    <input type="text" class="form-control" placeholder="Buscar en messenger..." [(ngModel)]="searchText">
    <span>
  </span>
</section>
<!-- lista de conversaciones-->

<!-- <ul>
  <li *ngFor="let post of listaPublicaciones">
    <pre>
      {{post | json}}
    </pre>
  </li>
</ul> -->

<!-- <div class="conversaciones row" *ngFor="let contacto of listaContactos | filter : {id: searchText, nombre:searchText}; let i=index;"
  (click)="goToConversation(conversacion.id)"> -->
<!-- <app-contacto-mensajes *ngIf="contactoSeleccionado" [contacto]="contactoSeleccionado"></app-contacto-mensajes> -->
<app-contacto-mensajes></app-contacto-mensajes>
<hr/>
<div class="conversaciones row" *ngFor="let contacto of listaContactos | filter : {id: searchText, nombre:searchText}; let i=index;">
    <app-contacto [contacto]="contacto" (abrirConversacion)="goToConversation(contacto.key)"></app-contacto>
</div>
<hr/>
<app-contacto-agregar>
</app-contacto-agregar>